$backgroundcolor: black;

@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
  box-sizing: border-box;
}

body {
  background-color: $backgroundcolor;
  font-family: "Futura";
}

/* Navbar */
// aligns items for desktop view //
.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 3rem 0rem;

  // padding to position navbar correctly /
  padding-left: 20rem;

  // creates margin between individual items //
  a {
    margin: 0 2rem;
  }
}

header {
  position: fixed;
  z-index: 9;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 5rem;
}
/* hides hamburger menu since isn't needed on desktop */
.nav-list {
  display: none;
}

/* main */

.container {
  // to prevent the navbar covering content
  padding: 15rem 0 4rem 0;
}

.container-moodboard {
  // to prevent the navbar covering content
  padding: 15rem 0;
}
.section1 {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: white;
  padding-top: 4rem;

  .introduction-text {
    padding: 4rem auto;
    h1 {
      width: 100%;
      margin: 1rem auto;
      font-family: Futura;
      font-weight: 400;
      color: white;
      text-align: center;
    }
    p {
      margin: 4rem auto;
      width: 100%;
      text-align: center;
    }
  }
}

.photo {
  margin: 2rem 2rem 2rem 2rem;
}

// showcase section which contains images and links to my work ect //

.showcase {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-rows: repeat(4, 400px);
  margin-bottom: 8rem;
}

// styling of projects section //
.grid-image {
  display: flex;
  justify-content: center;
  img {
    height: 100%;
    justify-content: center;
  }
}

.grid-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 3rem 0;
  flex-direction: column;
  text-align: center;
  h2 {
    width: 60%;
    font-size: 1.2rem;
  }
  a {
    margin-top: 2rem;
  }
}

// footer //

.footer {
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  border-top: 1px solid white;
  margin: 0 auto;
  padding: 3rem 0;

  // separates icons correctly
  .icons {
    margin: 2rem 2rem 2rem 2rem;
    .social-links {
      padding: 0 10px;
    }
  }
  .footer-logo {
    padding: 0 0 2rem 2rem;
  }
  .contact-info {
    padding: 2rem 0 2rem 2rem;
    p {
      font-size: 1.2rem;
      margin-bottom: 1rem;
    }
  }
}

.social-links {
  padding: 10px 10px;
}

/* scroll to top button */
#myButton {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  bottom: none;
  outline: none;
  padding: 1rem;
  background-color: black;
  opacity: 70%;
  border: none;
}

// icon styling //

/* icon for arrow up button */
.lnr-arrow-up {
  font-size: 4rem;
}

// icon below intro text //

.lnr-chevron-down {
  font-size: 3rem;
  opacity: 70%;
  padding-top: 2rem;
}

// moodboard page //

.moodboard {
  display: grid;
  z-index: 1;
  grid-template-areas:
    "a a b b c c"
    "a a b b c c"
    "d d f f e e"
    "d d f f e e"
    "g g f f e e"
    "g g h h i i"
    "g g h h i i"
    "j j k k l l"
    "j j k k l l";
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(8, 10vw);
  grid-gap: 20px;
  margin: auto;
  margin-bottom: 8rem;
  width: 95%;
  .gallery-item {
    width: 100%;
    height: 100%;
    position: relative;
    .image {
      width: 100%;
      height: 100%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: 50% 50%;
      }
    }
  }
  .gallery-item-1 {
    grid-area: a;
  }
  .gallery-item-2 {
    grid-area: b;
  }
  .gallery-item-3 {
    grid-area: c;
  }

  .gallery-item-4 {
    grid-area: d;
  }
  .gallery-item-5 {
    grid-area: e;
  }
  .gallery-item-6 {
    grid-area: f;
  }
  .gallery-item-7 {
    grid-area: g;
  }
  .gallery-item-8 {
    grid-area: h;
  }
  .gallery-item-9 {
    grid-area: i;
  }
  .gallery-item-10 {
    grid-area: j;
  }
  .gallery-item-11 {
    grid-area: k;
  }
  .gallery-item-12 {
    grid-area: l;
  }
}

// end of moodboard page //

// start of about me page //

.photo-aboutme {
  padding-top: 10rem;
  padding-bottom: 4rem;
  display: flex;
  justify-content: center;

  img {
    width: 30%;
  }
}

.about-me-text {
  width: 75%;
  margin: 4rem auto;

  h1 {
    text-align: center;
    margin: 2rem;
  }
}

// end of about me page //

@media screen and (max-width: 480px) {
  .logo img {
    // resizing and aligning of logo for mobile phones
    height: 70%;
    padding-left: 1rem;
  }

  // resizing of intro text //
  .introduction-text h1 {
    font-size: 1.3rem;
  }
  // ensures even padding between boxes when using mobile view
  .grid-description {
    height: 400px;
  }
  header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    position: fixed;
    padding-left: 1rem;
    .hamburger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 0rem;
      right: 50px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      padding-left: 5%;
      padding-top: 2rem;
      color: white;
      flex-direction: column;
      z-index: 1;

      .line {
        width: 100%;
        height: 3px;
        background-color: white;
      }
      .change .line1 {
        transform: rotateZ(-45) translate(-8px, 6px);
      }
      .change .line2 {
        opacity: 0;
      }
      .change .line3 {
        transform: rotateZ(45) translate(-8px, -6px);
      }

      #links a {
        display: fixed;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  // showcase grid for mobile device
  .showcase {
    display: grid;
    grid-template-rows: repeat(5, 500px);
    grid-template-columns: repeat(1, 100%);
  }
  .grid-image {
    display: flex;
    justify-content: center;
    img {
      width: 100%;
      height: auto;
      justify-content: center;
      object-fit: cover;
    }
  }
  //ordering showcase for mobile devices
  .mobile-order1 {
    order: 0;
  }
  .mobile-order2 {
    order: 1;
  }
  .mobile-order3 {
    order: 3;
  }
  .mobile-order4 {
    order: 2;
  }
  .mobile-order5 {
    order: 4;
  }
  .mobile-order6 {
    order: 5;
  }
  .mobile-order7 {
    order: 7;
  }
  .mobile-order8 {
    order: 6;
  }

  .navbar {
    width: 50%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    transition: right 0.4s;
    margin-top: 0;
    // removes padding as it displays differently with hamburger menu //
    padding-left: 0;

    a {
      font-size: 22px;
      margin: 0;
      margin: 2rem 0;
    }
  }

  .nav-list {
    text-align: right;
    align-items: center;
  }

  .change {
    right: 0;
  }

  .nav-item {
    text-decoration: none;
    font-size: 22px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 44px;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin-left: 4rem;
  }

  .footer {
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 1023px) and (min-width: 481px) {
  // navbar for mobile devices
  header {
    .hamburger-menu {
      width: 35px;
      height: 30px;
      position: fixed;
      top: 1rem;
      right: 50px;
      display: flex;
      justify-content: space-between;
      padding-bottom: 4rem;
      padding-left: 5%;
      padding-top: 2rem;
      color: white;
      flex-direction: column;
      z-index: 1;

      .line {
        width: 100%;
        height: 3px;
        background-color: white;
      }
      .change .line1 {
        transform: rotateZ(-45) translate(-8px, 6px);
      }
      .change .line2 {
        opacity: 0;
      }
      .change .line3 {
        transform: rotateZ(45) translate(-8px, -6px);
      }

      #links a {
        display: fixed;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }

  .navbar {
    width: 40%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: black;
    align-items: center;
    transition: right 0.4s;
    margin-top: 0;

    a {
      font-size: 34px;
      margin: 0;
      margin: 2rem 0;
    }
  }

  .nav-list {
    text-align: right;
    align-items: center;
  }

  .change {
    right: 0;
  }

  .nav-item {
    text-decoration: none;
    font-size: 22px;
  }

  .nav-link {
    text-decoration: none;
    font-size: 44px;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin-left: 4rem;
  }

  // end of navbar
}

@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 1200px) {
}
