$backgroundcolor: black;

@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

body {
  background-color: $backgroundcolor;
  font-family: "Futura";
}

/* Navbar */

/* Navbar */
/* Navbar */
header {

  .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 50px;
    right: 50px;
    display: flex;
    justify-content: space-between;
    padding-bottom: 4rem;
    padding-left: 5%;
    padding-top: 2rem;
    color: white;
    flex-direction: column;
    justify-content: space-around;
  
    #links a {
      display: none;
    &:hover {
      cursor: pointer;
    }
  }
  .navbar {
    a {
      margin: 0 2rem;
      color: white;
  
  .line {
    width: 100%;
    height: 3px;
    background-color: white;
  
    .change .line1 {
      transform: rotateZ(-45) translate(-8px, 6px);
    }
    .change .line2 {
      opacity: 0;
    }
    .change .line3 {
      transform: rotateZ(45) translate(-8px, -6px);
    }
  }
  
  #myLinks {
    display: none;
    padding-right: 2rem;
    a {
      padding: 2rem 0;
  .navbar {
    width: 40%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -40%;
    display: flex;
    justify-content: flex-start;
    color: black;
    align-items: flex-start;
    transition: right 0.4s;
  }
  .my-links {
    margin: 4rem 0;
    .nav-item {
      list-style: none;
      margin: 2rem 0;
    }
  }
  .nav-list {
    text-align: right;
  }
  
  .change {
    right: 0;
  }
  
  .nav-link {
    text-decoration: none;
    font-size: 34px;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin-left: 4rem;
/* main */

.section1 {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 90%;
  color: white;
  padding-top: 4rem;

  .introduction-text {
    padding: 4rem auto;
    h1 {
      width: 100%;
      margin: 1rem auto;
      font-family: Futura;
      font-weight: 400;
      color: white;
      text-align: center;
    }
  }
}

.section2 {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1000px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  .photo {
    margin: 2rem 2rem 2rem 2rem;
  }
  .description {
    font-family: plantin;
  }
}
/* scroll to top button */
#myButton {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 10;
  bottom: none;
  outline: none;
  padding: 1rem;
  background-color: black;
  opacity: 70%;
  border: none;
}
/* icon for arrow up button */
.lnr-arrow-up {
  font-size: 4rem;
}

/* 
@media screen and (min-width: 320px) {
}
.section1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: center;
}

.box {
  height: 90%;
  width: 90%;
  background-color: black;
  margin: 0 0 0 0;
  position: relative;
  top: 0%;
  right: 0%;
  margin-top: 1rem;
}
.circle {
  background-color: red;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 78%;
}

.introduction-text {
  width: 90%;
  margin: 1rem 0 0 0;
  font-family: plantin;
  font-weight: 400;
  size: 24px;
  line-height: 30px;
}

.box p,
.box h3 i {
  color: white;
  padding: 1rem 0 0 1rem;
}

.box-title {
  font-size: 0.7rem;
}
.box-subtitle {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.box .description {
  width: 50%;
}
*/
@media screen and (min-width: 480px) {
} // mobile landscape
@media screen and (min-width: 768px) {
} /* 
@media screen and (min-width: 1024px) {
  .section1 {
    flex-direction: row;
    padding-bottom: 100px;
  }

  .introduction-text {
    width: 40%;
    margin: 2rem 0 1rem 2rem;
  }

  .box {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 7rem;
    top: 7rem;
  }
}
*/

@media screen and (min-width: 1200px) {
}
