@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  font-family: "Futura";
}

/* Navbar */
/* Navbar */
header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 5%;
  padding-top: 2rem;
  color: white;
}

.navbar {
  margin-right: 5%;
}

.navbar a {
  margin: 0 2rem;
  color: white;
}

/* main */
.section1 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  color: white;
  padding-top: 4rem;
}

.section1 .introduction-text {
  padding: 4rem auto;
}

.section1 .introduction-text h1 {
  width: 100%;
  margin: 1rem auto;
  font-family: Futura;
  font-weight: 400;
  color: white;
  text-align: center;
}

.section2 {
  height: 200px;
  width: 90%;
  margin: 0 auto;
  padding-bottom: 1000px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.section2 .photo {
  margin: 2rem 2rem 2rem 2rem;
}

.section2 .description {
  font-family: plantin;
}

/* scroll to top button */
#myButton {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 10;
  bottom: none;
  outline: none;
  padding: 1rem;
  background-color: black;
  opacity: 70%;
  border: none;
}

/* icon for arrow up button */
.lnr-arrow-up {
  font-size: 4rem;
}

/* 
@media screen and (min-width: 320px) {
}
.section1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: center;
}

.box {
  height: 90%;
  width: 90%;
  background-color: black;
  margin: 0 0 0 0;
  position: relative;
  top: 0%;
  right: 0%;
  margin-top: 1rem;
}
.circle {
  background-color: red;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 78%;
}

.introduction-text {
  width: 90%;
  margin: 1rem 0 0 0;
  font-family: plantin;
  font-weight: 400;
  size: 24px;
  line-height: 30px;
}

.box p,
.box h3 i {
  color: white;
  padding: 1rem 0 0 1rem;
}

.box-title {
  font-size: 0.7rem;
}
.box-subtitle {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.box .description {
  width: 50%;
}
*/
/* 
@media screen and (min-width: 1024px) {
  .section1 {
    flex-direction: row;
    padding-bottom: 100px;
  }

  .introduction-text {
    width: 40%;
    margin: 2rem 0 1rem 2rem;
  }

  .box {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 7rem;
    top: 7rem;
  }
}
*/
/*# sourceMappingURL=style.css.map */