@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: #d9d6cf;
  font-family: "Futura";
}

hr {
  color: black;
  height: 2px;
  background-color: black;
}
/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 5%;
  padding-top: 2rem;
}
.navbar {
  margin-right: 5%;
}
.navbar a {
  margin: 0 2rem;
}

/* main */

.section1 {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: column-reverse;
  align-items: center;
  background-color: white;
  width: 90%;
  border: solid 1px #d9d6cf;
}
.introduction-text {
  width: 90%;
  margin-top: 1rem;
  font-family: plantin;
  font-weight: 400;
  size: 24px;
  line-height: 30px;
}
.box {
  height: 90%;
  width: 90%;
  background-color: black;
  margin-top: 1rem;
  padding-bottom: 1rem;
}

.box p,
.box h3 i {
  color: white;
  padding: 1rem 0 0 1rem;
}

.box-title {
  font-size: 0.7rem;
}
.box-subtitle {
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.description {
  width: 50%;
  margin-top: 4rem;
}

.circle {
  background-color: red;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  margin-left: 1rem;
}

.section2 {
  height: 200px;
  background-color: white;
  width: 90%;
  margin: 0 auto;
}

.btn {
  display: none;
  position: fixed;
  bottom: 4rem;
  right: 2rem;
  z-index: 10;
  bottom: none;
  outline: none;
  background-color: #d9d6cf;
  padding: 1rem;
  font-size: 18px;
  border-radius: 10px;
}
/* 
@media screen and (min-width: 320px) {
}
.section1 {
  display: flex;
  justify-content: flex-end;
  flex-direction: column-reverse;
  align-items: center;
}

.box {
  height: 90%;
  width: 90%;
  background-color: black;
  margin: 0 0 0 0;
  position: relative;
  top: 0%;
  right: 0%;
  margin-top: 1rem;
}
.circle {
  background-color: red;
  width: 10vh;
  height: 10vh;
  border-radius: 50%;
  position: absolute;
  top: 40%;
  right: 78%;
}

.introduction-text {
  width: 90%;
  margin: 1rem 0 0 0;
  font-family: plantin;
  font-weight: 400;
  size: 24px;
  line-height: 30px;
}

.box p,
.box h3 i {
  color: white;
  padding: 1rem 0 0 1rem;
}

.box-title {
  font-size: 0.7rem;
}
.box-subtitle {
  margin-top: 1rem;
  margin-bottom: 3rem;
}

.box .description {
  width: 50%;
}
*/ 
@media screen and (min-width: 480px) {
} // mobile landscape
@media screen and (min-width: 768px) {
}
@media screen and (min-width: 1024px) {
  
  .section1 {
    flex-direction: row;
    padding-bottom: 100px;
  }

  .introduction-text {
    width: 40%;
    margin: 2rem 0 1rem 2rem;
  }

  .box {
    position: absolute;
    width: 40%;
    height: 50%;
    right: 7rem;
    top: 7rem;
  }

  
}

@media screen and (min-width: 1200px) {
}
*/
