@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: white;
}

body {
  background-color: black;
  font-family: "Futura";
}

/* Navbar */
.navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 3rem 0rem;
  padding-left: 20rem;
}

.navbar a {
  margin: 0 2rem;
}

header {
  position: fixed;
  width: 100%;
  background-color: black;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-left: 2rem;
}

/* hides hamburger menu since isn't needed on desktop */
.nav-list {
  display: none;
}

/* main */
.container {
  padding: 15rem 0;
}

.section1 {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  color: white;
  padding-top: 4rem;
}

.section1 .introduction-text {
  padding: 4rem auto;
}

.section1 .introduction-text h1 {
  width: 100%;
  margin: 1rem auto;
  font-family: Futura;
  font-weight: 400;
  color: white;
  text-align: center;
}

.section1 .introduction-text p {
  margin: 4rem auto;
  width: 100%;
  text-align: center;
}

.photo {
  margin: 2rem 2rem 2rem 2rem;
}

.showcase {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (50%)[2];
      grid-template-columns: repeat(2, 50%);
  -ms-grid-rows: (400px)[5];
      grid-template-rows: repeat(5, 400px);
}

.grid-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-image img {
  height: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.grid-description h2 {
  width: 60%;
  font-size: 1.2rem;
}

.grid-description a {
  margin-top: 2rem;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 2rem 2rem 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 90%;
  border-top: 1px solid white;
  margin: 0 auto;
  padding: 3rem 0;
}

.footer .icons {
  margin: 2rem 2rem 2rem 2rem;
}

.footer .icons .social-links {
  padding: 0 10px;
}

.footer .footer-logo {
  padding: 0 0 2rem 2rem;
}

.footer .contact-info {
  padding: 2rem 0 2rem 2rem;
}

.footer .contact-info p {
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.social-links {
  padding: 10px 10px;
}

/* scroll to top button */
#myButton {
  display: none;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 10;
  bottom: none;
  outline: none;
  padding: 1rem;
  background-color: black;
  opacity: 70%;
  border: none;
}

/* icon for arrow up button */
.lnr-arrow-up {
  font-size: 4rem;
}

.lnr-chevron-down {
  font-size: 3rem;
  opacity: 70%;
  padding-top: 2rem;
}

@media screen and (max-width: 480px) {
  .logo img {
    height: 70%;
    padding-left: 1rem;
  }
  .introduction-text h1 {
    font-size: 1.3rem;
  }
  .grid-description {
    height: 400px;
  }
  header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    position: fixed;
  }
  header .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 0rem;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 4rem;
    padding-left: 5%;
    padding-top: 2rem;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
  }
  header .hamburger-menu .line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  header .hamburger-menu .change .line1 {
    -webkit-transform: rotateZ(-45) translate(-8px, 6px);
            transform: rotateZ(-45) translate(-8px, 6px);
  }
  header .hamburger-menu .change .line2 {
    opacity: 0;
  }
  header .hamburger-menu .change .line3 {
    -webkit-transform: rotateZ(45) translate(-8px, -6px);
            transform: rotateZ(45) translate(-8px, -6px);
  }
  header .hamburger-menu #links a {
    display: fixed;
  }
  header .hamburger-menu #links a:hover {
    cursor: pointer;
  }
  .showcase {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: (500px)[5];
        grid-template-rows: repeat(5, 500px);
    -ms-grid-columns: (100%)[1];
        grid-template-columns: repeat(1, 100%);
  }
  .grid-image {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid-image img {
    width: 100%;
    height: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -o-object-fit: cover;
       object-fit: cover;
  }
  .mobile-order1 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mobile-order2 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile-order3 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .mobile-order4 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .mobile-order5 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4;
  }
  .mobile-order6 {
    -webkit-box-ordinal-group: 6;
        -ms-flex-order: 5;
            order: 5;
  }
  .mobile-order7 {
    -webkit-box-ordinal-group: 8;
        -ms-flex-order: 7;
            order: 7;
  }
  .mobile-order8 {
    -webkit-box-ordinal-group: 7;
        -ms-flex-order: 6;
            order: 6;
  }
  .navbar {
    width: 50%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: right 0.4s;
    transition: right 0.4s;
    margin-top: 0;
    padding-left: 0;
  }
  .navbar a {
    font-size: 22px;
    margin: 0;
    margin: 2rem 0;
  }
  .nav-list {
    text-align: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .change {
    right: 0;
  }
  .nav-item {
    text-decoration: none;
    font-size: 22px;
  }
  .nav-link {
    text-decoration: none;
    font-size: 44px;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin-left: 4rem;
  }
}

@media screen and (max-width: 1023px) and (min-width: 481px) {
  header .hamburger-menu {
    width: 35px;
    height: 30px;
    position: fixed;
    top: 1rem;
    right: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-bottom: 4rem;
    padding-left: 5%;
    padding-top: 2rem;
    color: white;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    z-index: 1;
  }
  header .hamburger-menu .line {
    width: 100%;
    height: 3px;
    background-color: white;
  }
  header .hamburger-menu .change .line1 {
    -webkit-transform: rotateZ(-45) translate(-8px, 6px);
            transform: rotateZ(-45) translate(-8px, 6px);
  }
  header .hamburger-menu .change .line2 {
    opacity: 0;
  }
  header .hamburger-menu .change .line3 {
    -webkit-transform: rotateZ(45) translate(-8px, -6px);
            transform: rotateZ(45) translate(-8px, -6px);
  }
  header .hamburger-menu #links a {
    display: fixed;
  }
  header .hamburger-menu #links a:hover {
    cursor: pointer;
  }
  .navbar {
    width: 40%;
    height: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    right: -50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: black;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: right 0.4s;
    transition: right 0.4s;
    margin-top: 0;
  }
  .navbar a {
    font-size: 34px;
    margin: 0;
    margin: 2rem 0;
  }
  .nav-list {
    text-align: right;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .change {
    right: 0;
  }
  .nav-item {
    text-decoration: none;
    font-size: 22px;
  }
  .nav-link {
    text-decoration: none;
    font-size: 44px;
    color: gray;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin-left: 4rem;
  }
}
/*# sourceMappingURL=style.css.map */