@font-face {
  font-family: Futura;
  src: local("Futura.ttc");
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  color: black;
}

body {
  background-color: #d9d6cf;
  font-family: "Futura";
}

/* Navbar */
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
  padding-left: 5%;
  padding-top: 2rem;
}
.navbar {
  margin-right: 5%;
}
.navbar a {
  margin: 0 2rem;
}

/* main */
.section1 {
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  background-color: white;
  width: 90%;
  border: solid 1px #d9d6cf;
}
.introduction-text {
  width: 50%;
  margin: 1rem 0 1rem 2rem;
  font-family: plantin;
  font-weight: 400;
  size: 24px;
  line-height: 30px;
}
